/*__________________________*/
/* #Content_Labels-Results */
/*__________________________*/
.results__border {
	border: 4px #e6e3e3 solid;
	padding: 2px;
}

.sidebar {
	background: #e6e3e3;
	padding-bottom: 16%;
	padding-top: 5.5%;
}
.sidebar--expanded {
	background: #95a5a6;
	color: white;
	padding-top: 3%;
	padding-bottom: 3%;
	width: 99%;
}


.sortby__container {
	background: #e6e3e3;
 	border: 1px solid #e6e3e3;
}
.width {
	width: 80px;
}
.sortby__label {
	color: #34495e;
	padding-bottom: 1%;
}

.sortby__btn {
	background:#fefefd;
	width: 300px;
}
.sortby__dropdown__label {
	color:#4f5253;  
}
.pushcenter {
	padding-top: 1%;
	padding-left: 25%;
}

.moveright {
	margin-left: 30%;
}
/*__________________________*/
/* #Checkbox_Labels-Results */
/*__________________________*/

	



/*__________________________*/
/* #Checkbox_Input-Results */
/*__________________________*/





/*__________________________*/
/* #Checkbox_State-Results */
/*__________________________*/






/*__________________________*/
/* #Dropdown_Header-Results */
/*__________________________*/





/*__________________________*/
/* #Dropdown_Carrot-Results */
/*__________________________*/





/*__________________________*/
/* #Dropdown_Menu-Results */
/*__________________________*/





/*__________________________*/
/* #Dropdown_Button-Results */
/*__________________________*/





/*__________________________*/
/* #SearchResults_Header-Results */
/*__________________________*/





/*__________________________*/
/* #ProgressiveDisclosure_Carrot-Results */
/*__________________________*/





/*__________________________*/
/* #ProgressiveDisclosure_Header-Results */
/*__________________________*/





/*__________________________*/
/* #Input_Field-Results */
/*__________________________*/





/*__________________________*/
/* #Input_Button-Results */
/*__________________________*/





/*__________________________*/
/* #Calendar_Button-Results */
/*__________________________*/





/*__________________________*/
/* #Calendar_Flyout-Results */
/*__________________________*/







/*__________________________*/
/* #Calendar_Flyout-Menu */
/*__________________________*/







/*__________________________*/
/* #Calendar_Flyout_Header-Results */
/*__________________________*/






/*__________________________*/
/* #Calendar_Flyout_ViewSwitcher-Results */
/*__________________________*/





/*__________________________*/
/* #Calendar_Flyout_Buttons-Results */
/*__________________________*/





/*__________________________*/
/* #Paging_Header-Results */
/*__________________________*/





/*__________________________*/
/* #Paging_Icon-Results */
/*__________________________*/

















