<h1>CrowdSurfer</h1>

<!-- <form id="search">
  <label for="genre">Genre</label>
  <input type="text" id="genre">
  <input type="submit" value="Search">
</form> -->

<div id="search">
  <details>
    <summary>Genres from Database</summary>
    <ul>
      <% @genres.each do |type| %>
        <li>
          <input type="checkbox" id=<%= type.genre %> name="choice" value=<%= type.genre %> /><label for="genre"><%= type.genre %></label>
          </li>
      <% end %>
    <ul>
  </details>
</div>

<div id="results"></div>