  <header class="nav__primary">
    
    <div class="container">

      <div class="row">
      
        <div class="col-md-6"> 
          <img class="nav__primary--logo" src="assets/Logo.png" alt="">
        </div> <!-- end of col-md-6 -->

        <div class="col-md-6">

          <ul class="nav__primary--list">
            <li class="nav__primary--list--default"><a href="#">Blog</a></li>

            <li class="nav__primary--list--default"><a href="#">Contact</a></li>

            <li class="nav__primary--list--default"><a href="#">Settings</a></li>
            
            <li class="nav__primary--list--default"><a href="#">Log Out</a></li>
          </ul><!--  end of nav__primary--list -->

        </div> <!-- end of col-md-6 -->

      </div> <!--  end of row -->

    </div> <!-- end of container -->
  
  </header> <!-- end of nav__primary -->



<div class="container">



  <div class="row results__border">
       <div id="search" class="sidebar    ||     col-md-3">
          <% @genres.each do |g| %>
              <h3 class="content__header--xxsmall header___color--blue"><%= g.genre %></h3>
              <ul class="content__header--xxsmall sidebar--expanded">
                <% g.sub_genres.each do |type| %>
                  <li>
                    <input type="checkbox" id=<%= type.sub_genre_names %> name="choice" value=<%= type.sub_genre_names %> /><label for="genre"><%= type.sub_genre_names %></label>
                    </li>
                <% end %>
          
              </ul>
              <% end %>

      </div><!-- end of sidebar col-md-3 -->

    <div class="sortby__container marg__left--xxsmall ||     col-md-8 width">
       <div class="row">

       <div class="col-md-6"> 
        
            <form class="navbar-form navbar-left" role="search">
            
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Search by Zip Code">
              </div><!-- end of form group -->
      
                 <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button><!-- end of ntn btn-defaul --> 
      
            </form> <!-- end of navbar-form navbar-left -->   

        </div> 
      
      <div class="col-md-6 pad___top--xxsmall">
        
          <button type="button" class="viewtoggle__btn marg__right--large pad___top--xxsmall  ||     btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left"><span class="glyphicon glyphicon-th-list color" aria-hidden="true"></span></button><!-- end of viewtoggle__btn moveright-->  

          <button type="button" class="viewtoggle__btn ||    btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button><!-- end of viewtoggle__btn-->  

      </div>
  
      </div><!-- end of row-->  

    </div><!-- end of sortby__container col-md-9--> 

      <div id="results" class="col-md-9"></div>

    </div><!-- end of row results__border -->

    </div>


</div><!-- end of container -->