<h1>CrowdSurfer</h1>

<!-- <form id="search">
  <label for="genre">Genre</label>
  <input type="text" id="genre">
  <input type="submit" value="Search">
</form> -->

<div id="search">
  <% @genres.each do |g| %>
    <details>
      <summary><%= g.genre %></summary>
      <ul>
        <% g.sub_genres.each do |type| %>
          <li>
            <input type="checkbox" id=<%= type.sub_genre_names %> name="choice" value=<%= type.sub_genre_names %> /><label for="genre"><%= type.sub_genre_names %></label>
            </li>
        <% end %>
      <ul>
   </details>
  <% end %>
</div>

<div id="results"></div>