<!DOCTYPE html>
<html>
<head>
  <title>Crowdsurfer01</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body class="page--background-color page--font-color">

<%= yield %>

<script src="//connect.soundcloud.com/sdk.js"></script>
</body>
</html>
